/*Para nombrar las clases se usa el estandar BEM https://www.aluracursos.com/blog/creacion-de-componentes-css-con-el-estandar-bem*/

.destaques {
    display: grid;
    /*4 columnas al 25% (100%)*/
    grid-template-columns: 25% 25% 25% 25%;
    /*3 filas al 33.33% (casi 100%)*/
    grid-template-rows: 33.33% 33.33% 33.33%;
    /*la altura se va a calcular para ocupar el 100% de la altura del nav - los 50px del header que esta arriba*/
    height: calc(100vh - 50px);
    /*espaciamiento entre los elementos del grid*/
    gap: .3rem;
}

.destaques__principal {
    background: url("/AluraStore/img/fortnite.jpg");
    background-size: cover;
    background-position: center;
    /*para que la imagen no se repita rellenando los espacios que falten*/
    background-repeat: no-repeat;
    grid-column-start: 1;
    /*se tiene que escribir una mas, se lee hasta que empiece la columna 4*/
    grid-column-end: 4;
    grid-row-start: 1;
    /*se tiene que escribir una mas, se lee hasta que empiece la fila 3*/
    grid-row-end: 3;
}

.destaques__secundario:nth-child(2) {
    background: url("/AluraStore/img/pubg.jpg") center / cover no-repeat;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.destaques__secundario:nth-child(3) {
    background: url("/AluraStore/img/slack.png") center / cover no-repeat;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
} 

.destaques__secundario:nth-child(4) {
    background: url("/AluraStore/img/whatsapp.png") center / cover no-repeat;
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.destaques__secundario:nth-child(5) {
    background: url("/AluraStore/img/cs-go.jpg") center / cover no-repeat;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.destaques__categorias {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

/*tiene 4 elementos li dentro*/
.destaques__categorias___lista {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
}

/*Cada elemento li*/
.destaques__categorias___item {
    display: flex;
    align-items: center;
    background: whitesmoke;
    color: gray;
    width: 50%;
    padding: 1rem;
}

.destaques__categorias___link {
    /*heredar color anterior, gris*/
    color: inherit;
}

.destaques__titulo {
    color: whitesmoke;
    background: rgb(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    padding: 0.6rem;
}

.box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
