/* Extra small devices (phones, 600px and down) */

/*version MOBILE*/
@media only screen and (max-width: 600px) {

    .destaques__secundario:nth-child(2),
    .destaques__secundario:nth-child(3),
    .destaques__secundario:nth-child(4),
    .destaques__secundario:nth-child(5) {
        display: none;
        grid-column: none;
        grid-row: none;
    }

    .destaques__principal,
    .destaques__categorias {
        grid-column-start: 1;
        /*ocupa todo el ancho*/
        grid-column-end: 5;

    }

    .populares__contenido {
        flex-direction: column;

    }

    .populares__card {
        width: 100%;
        margin-bottom: 3rem;
    }

    .populares__card___imagen {
        height: 250px;
    }

    div.populares__card___header {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 940px) {

    .populares__card {
        grid-template-rows: auto;
    }
    .populares__card___titulo {
        font-size: .95rem;
    }
    .populares__card___descripcion {
        display: none;
    }

    .populares__card___imagen {
        height: 120px;
    }
    .populares__card___base {
        padding: 0;
    }

    /* .populares__contenido {
        display: block;
        width: 100%;
    } */

    /* .populares__card {
        width: 50%;
    } */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}